<div class="container-fluid">
  <div class="col-md-5">                                                       <!-- Tutaj takze korzystamy z girda bootstrapowego, bedzie zajmowa 5/12 miejsca na takie rzeczy jak opis, nazwe produtkow, cenne -->
    <h1><%= @product.name %></h1>
    <p class="lead"><%= @product.description %></p>
    <%= simple_format(@product.long_description) %>

    <p class="lead"><%= number_to_currency(@product.price) %></p>
    <p>
      <%= link_to "#", class: "btn btn-primary" do %>
        <span class="fa fa-shopping-cart">  Dodaj do koszyka </span>
      <% end %>
    </p>
  </div>
  <div class="col-md-7">
    <%= image_tag @product.photo.url(:details).inspect, class: "img-responsive" %>
  </div>
</div>

